/*
Project: Bookmark System With JavaScript
Project URL: https: //github.com/mrkRiyad/Bookmark-System-With-JavaScript
Author: Riyad Khan
Description: A bookmark system allow you to save url. After that you can visit to your saved url and also can delete it.
Technology: JavaScript, HTML5, CSS3, Bootstrap
Version: 1.0
*/

.alert strong a {
    color: inherit;
    text-decoration: none;
}
.empty_data {
    font-weight: bold;
    text-align: center;
    color: #ddd;
    font-size: 50px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}